{:deps    {org.clojure/clojure {:mvn/version "1.11.2"}
           org.babashka/cli    {:mvn/version "0.7.51"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
                  :main-opts   ["-m" "kaocha.runner"]}}}
